<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:fragment="head-admin">
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Medio Ambiente</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link th:href="@{/admin/img/hoja.png}" rel="icon">
  <link th:href="@{/admin/img/apple-touch-icon.png}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link th:href="@{/admin/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
  <link th:href="@{/admin/vendor/bootstrap-icons/bootstrap-icons.css}" rel="stylesheet">
  <link th:href="@{/admin/vendor/boxicons/css/boxicons.min.css}" rel="stylesheet">
  <link th:href="@{/admin/vendor/quill/quill.snow.css}" rel="stylesheet">
  <link th:href="@{/admin/vendor/quill/quill.bubble.css}" rel="stylesheet">
  <link th:href="@{/admin/vendor/remixicon/remixicon.css}" rel="stylesheet">
  <link th:href="@{/admin/vendor/simple-datatables/style.css}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link th:href="@{/admin/css/style.css}" rel="stylesheet">

  <!-- =======================================================
    * Template Name: NiceAdmin
    * Updated: Sep 18 2023 with Bootstrap v5.3.2
    * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->
</head>

<body>
  <!-- NAVBAR -->
  <div th:fragment="navbar-admin">
    <header id="header" class="header fixed-top d-flex align-items-center">

      <div class="d-flex align-items-center justify-content-between">
        <a class="logo d-flex align-items-center">
          <img th:src="@{/img/logo.png}" alt="">
          <span class="d-none d-lg-block" th:if="${#authorization.expression('hasRole(''ADMIN'')')}">Admin</span>
          <span class="d-none d-lg-block" th:if="${#authorization.expression('hasRole(''USER'')')}">Usuario</span>
          <span class="d-none d-lg-block" th:if="${#authorization.expression('hasRole(''EMPRESA'')')}">Empresa</span>
        </a>
        <i class="bi bi-list toggle-sidebar-btn"></i>
      </div>
      <!-- End Logo -->

      <div class="search-bar">
        <form class="search-form d-flex align-items-center" method="POST" action="#">
          <input type="text" name="query" placeholder="Search" title="Enter search keyword">
          <button type="submit" title="Search"><i class="bi bi-search"></i></button>
        </form>
      </div><!-- End Search Bar -->

      <nav class="header-nav ms-auto">
        <ul class="d-flex align-items-center">

          <li class="nav-item d-block d-lg-none">
            <a class="nav-link nav-icon search-bar-toggle " href="#">
              <i class="bi bi-search"></i>
            </a>
          </li><!-- End Search Icon-->

       <!-- End Notification Nav -->

       <!-- End Messages Nav -->

          <li class="nav-item dropdown pe-3">

            <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
              <img
              th:src="@{/imagen/perfil/__${session.usuariosesion.id}__}"
              alt="Perfil" class="rounded-circle" id="imagen">
              <span class="d-none d-md-block dropdown-toggle ps-2" th:text="${session.usuariosesion.nombre}"></span>
            </a><!-- End Profile Iamge Icon -->

            <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
              <li class="dropdown-header">
                <h6 th:text="${session.usuariosesion.nombre}"></h6>
                
            </li>
            <li>
                
              </li>
              <li>
                <hr class="dropdown-divider">
              </li>

              <li>
                <a class="dropdown-item d-flex align-items-center" href="/perfil">
                  <i class="bi bi-person"></i>
                  <span>Mi Perfil</span>
                </a>
              </li>
              <li>
                <hr class="dropdown-divider">
              </li>
            

              <li>
                <a class="dropdown-item d-flex align-items-center" href="/logout">
                  <i class="bi bi-box-arrow-right"></i>
                  <span>Cerrar sesion </span>
                </a>
              </li>

            </ul><!-- End Profile Dropdown Items -->
          </li><!-- End Profile Nav -->

        </ul>
      </nav><!-- End Icons Navigation -->

    </header><!-- End Header -->
  </div>

    <!-- ======= Sidebar ======= -->
    <div th:fragment="navbar1">

      <aside id="sidebar" class="sidebar">
    <ul class="sidebar-nav" id="sidebar-nav">
      <li class="nav-item">
        <a class="nav-link ">
          <p>Qué quieres hacer?</p>
        </a>
      <!--Inicio nav izquierdo-->
      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#forms-nav-campanas" data-bs-toggle="collapse" href="#">
          <i class="bi bi-journal-text"></i><span>Campañas</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="forms-nav-campanas" class="nav-content collapse" data-bs-parent="#sidebar-nav">
          <li>
            <a sec:authorize="hasRole('ADMIN')" href="/campana/registrar">
              <i class="bi bi-circle"></i><span>Registrar Campañas</span>
            </a>
          </li>
          <li>
            <a href="/campana/lista/admin/" sec:authorize="hasRole('ADMIN')">
              <i class="bi bi-circle"></i><span>Ver Campañas</span>
            </a>
            <a href="/campana/lista/" sec:authorize="hasRole('USER')">
              <i class="bi bi-circle"></i><span>Ver Campañas</span>
            </a>
            <a href="/campana/lista/" sec:authorize="hasRole('EMPRESA')">
              <i class="bi bi-circle"></i><span>Ver Campañas</span>
            </a>
          </li>
        </ul>
      </li><!-- End Forms Nav -->
      
      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#forms-nav-noticias" data-bs-toggle="collapse" href="#">
          <i class="bi bi-journal-text"></i><span>Noticias</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="forms-nav-noticias" class="nav-content collapse" data-bs-parent="#sidebar-nav">
          <li>
            <a sec:authorize="hasRole('ADMIN')" class="nav-link collapsed" href="/noticia/registrar">
              <i class="bi bi-journal-text"></i>
              <span>Registrar Noticias</span>
            </a>
          </li>
          <li>
            <a href="/noticia/lista">
              <i class="bi bi-circle"></i><span>Ver Noticias</span>
            </a>
          </li>
        </ul>
      </li>
      
      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#forms-nav-empresas" data-bs-toggle="collapse" href="#" sec:authorize="hasAnyRole('ADMIN', 'USER')"
        >
          <i class="bi bi-journal-text"></i><span>Empresas</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <a class="nav-link collapsed" data-bs-target="#forms-nav-empresas" data-bs-toggle="collapse" href="#" sec:authorize="hasRole('EMPRESA')">
          <i class="bi bi-journal-text"></i><span>Auspicio</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="forms-nav-empresas" class="nav-content collapse" data-bs-parent="#sidebar-nav">
          <li>
            <a sec:authorize="hasRole('ADMIN')" class="nav-link collapsed" href="/empresa/registrar">
              <i class="bi bi-journal-text"></i>
              <span>Registrar Empresas</span>
            </a>
            </a>
          </li>
          <li>
            <a sec:authorize="hasRole('ADMIN')" class="nav-link collapsed" href="/admin/empresas">
              <i class="bi bi-journal-text"></i>
              <span>Ver Empresas</span>
            </a>
            <a href="#" sec:authorize="hasRole('EMPRESA')">
              <i class="bi bi-circle"></i><span>Ver Auspicio</span>
            </a>
          </li>
        </ul>
      </li>

      <!-- Usuarios -->
      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#forms-nav-usuarios" data-bs-toggle="collapse" href="#" sec:authorize="hasAnyRole('ADMIN')"
        >
          <i class="bi bi-journal-text"></i><span>Usuarios</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <a class="nav-link collapsed" data-bs-target="#forms-nav-usuarios" data-bs-toggle="collapse" href="#" sec:authorize="hasRole('EMPRESA')">
          <i class="bi bi-journal-text"></i><span>Auspicio</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="forms-nav-usuarios" class="nav-content collapse" data-bs-parent="#sidebar-nav">
          <li>
            <a sec:authorize="hasRole('ADMIN')" class="nav-link collapsed" href="/admin/usuarios">
              <i class="bi bi-journal-text"></i>
              <span>Ver Usuarios</span>
            </a>
          </li>
        </ul>
      </li>
      <li class="nav-item">
        <a class="nav-link collapsed" href="/logout">
          <i class="bi bi-box-arrow-in-right"></i>
          <span>Salir</span>
        </a>
      </li><!-- End Login Page Nav -->
    </ul>
  </aside>
    </div>

<div th:fragment="dashboard">
  <section class="section dashboard">
    <div class="row">
      <!-- Left side columns -->
      <div class="col-lg-8">
        <div class="row">
          <!-- Contenedor de la imagen -->
          <div style="width: 100%; height: 100vh; overflow: hidden;">
            <!-- Imagen con atributos para cubrir el espacio disponible -->
            <img src="/img/tree.jpg" style="width:85%; height: 95%; position: absolute;" alt="Tree">
          </div>
        </div>
      </div><!-- End Left side columns -->
    </div>
  </section>
</div>


    <!-- NAVBAR fin-->
    <div th:fragment="scripts-admin">
      <!-- Vendor JS Files -->
      <script th:src="@{/admin/vendor/apexcharts/apexcharts.min.js}"></script>
      <script th:src="@{/admin/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
      <script th:src="@{/admin/vendor/chart.js/chart.umd.js}"></script>
      <script th:src="@{/admin/vendor/echarts/echarts.min.js}"></script>
      <script th:src="@{/admin/vendor/quill/quill.min.js}"></script>
      <script th:src="@{/admin/vendor/simple-datatables/simple-datatables.js}"></script>
      <script th:src="@{/admin/vendor/tinymce/tinymce.min.js}"></script>
      <script th:src="@{/admin/vendor/php-email-form/validate.js}"></script>


      <!-- Template Main JS File -->
      <script th:src="@{/admin/js/main.js}"></script>
    </div>
</body>

<div th:fragment="navbarindexM">
    <header>

        <div id="mainNavigation" class="navbar navbar-expand-md navbar-dark fixed-top">
            <a class="navbar-brand" href="#home">
                <img src="/img/logo.png" style="width: 90px;" class="invert" alt="Logo">
                <span class="logo-text"
                    style="color: rgb(7, 7, 7); margin-left: 10px; font-size: 20px; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">MedioAmbiente</span>
                  <!--  style="color: aliceblue; margin-left: 10px; font-size: 20px; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">MedioAmbiente</span>-->
            </a>

            <button class="navbar-toggler w-75" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span> <span class="align-middle">Menu</span>
            </button>
            <div class="text-center mt-3 collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav mx-auto ">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#about">Nosotros</a>

                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#noticiaContainer">Noticias</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#campañas">Campañas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#review">Opiniones</a>
                    </li>

             <!--      <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Únete
                        </a>


                            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" id="lista">
                            <li><a class="dropdown-item" href="/login">Iniciar Sesion</a></li>
                            <li><a class="dropdown-item" href="#contact">Contactenos</a></li>
                        </ul>

                    </li>-->


                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Únete
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" id="lista">
                            <li><a class="dropdown-item" href="/login">Iniciar Sesión</a></li>
                            <!-- <li><a class="dropdown-item" href="#">Salir</a></li> -->
                            <li><a class="dropdown-item" href="#contact">Contáctenos</a></li>
                        </ul>
                    </li>


                </ul>
            </div>
        </div>


    </header>

</div>

<div th:fragment="fondodeformularios">
    <style>
        body {
          margin: 0;
          padding: 0;
          font-family: 'Lato', sans-serif;
          background: url("/img/tree1fondoa.jpeg") center center fixed;
          background-size: cover;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
        }


        /* Añadir estilos adicionales según sea necesario */
      </style>

</div>




</html>