<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="admin/layout :: head-admin"></head>
<style th:replace= "admin/layout :: fondodeformularios"></style> 

<body>

<!-- ======= Header ======= -->
<header th:replace="admin/layout :: navbar-admin"></header><!-- End Header -->

<!-- ======= Sidebar ======= -->
<nav th:replace="admin/layout :: navbar1"></nav>
<!-- End Sidebar-->

<main id="main" class="main">
    <!-- Mensajes -->
    <div th:if="${exito}!=null" class="card text-white bg-success mb-3 mt-3 mensajeExito">
        <div class="card-body">
            <h5 class="card-title">Exito 👍</h5>
            <p class="card-text" th:text="${exito}"></p>
        </div>
    </div>
    <div th:if="${error}!=null" class="card text-white bg-danger mb-3 mensajeError">
        <div class="card-body">
            <h5 class="card-title">Error 👎</h5>
            <p class="card-text" th:text="${error}"></p>
        </div>
    </div>
    <!--Fin Mensajes -->
    <div class="pagetitle">
        <h1>Modificar Campañas</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html"></a></li>
                <li class="breadcrumb-item"></li>
                <li class="breadcrumb-item active"></li>
            </ol>
        </nav>
    </div><!-- End Page Title -->
    <section class="section">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Modificar Campañas</h5>

                        <form th:action="@{/campana/modificar/__${campana.id}__}" method="POST" enctype="multipart/form-data">
                            <input hidden th:value="${id}" name="id">
                            <div class="row mb-3">
                                <label for="titulo" class="col-sm-2 col-form-label">Título</label>
                                <div class="col-sm-10">
                                    <input di th:value="${campana.titulo}" type="text" id="titulo" name="titulo" class="form-control">
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label for="descripcion" class="col-sm-2 col-form-label">Descripción</label>
                                <div class="col-sm-10">
                                    <input th:value="${campana.descripcion}" type="text" id="descripcion" name="descripcion" class="form-control">
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label for="desafio" class="col-sm-2 col-form-label">Desafio</label>
                                <div class="col-sm-10">
                                    <input th:value="${campana.desafio}" type="text" id="desafio" name="desafio" class="form-control">
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label for="estado" class="col-sm-2 col-form-label">Estado</label>
                                <div class="col-sm-10">
                                    <select name="estado" id="estado">
                                        <option value="true" th:selected="${campana.estado == true}">Activa</option>
                                        <option value="false" th:selected="${campana.estado == false}">Inactiva</option>
                                        <option th:if="${campana.estado == null}" th:text="Estado actual" selected="selected"></option>
                                    </select>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label for="archivo" class="col-sm-2 col-form-label">Imagen</label>
                                <div class="col-sm-10">
                                    <!--Pendiente revisar para traer el nombre imagen o el dato relacionado de la image -->
                                    <input class="form-control" type="file" name="archivo" id="archivo" >
                                </div>
                            </div>
                            <div class="col-12">
                                <button class="btn btn-primary w-100" type="submit">Modificar</button>
                            </div>
                        </form>
                        <!-- End Table with stripped rows -->
                    </div>
                </div>
            </div>
        </div>
    </section>
</main><!-- End #main -->

<!-- ======= Footer ======= -->
<footer id="footer" class="footer">
    <div class="copyright">
        &copy; Copyright <strong><span>Grupo 3</span></strong>. All Rights Reserved
    </div>
    <div class="credits">
    </div>
</footer><!-- End Footer -->
<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
<div th:replace="admin/layout :: scripts-admin"></div>
</body>
</html>