<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <title>Detalle de Campaña</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
    	<h1>Detalles de la Campaña</h1>
    	<p><strong>Título:</strong> <span th:text="${campana.titulo}"></span></p>
    	<p><strong>Descripción:</strong> <span th:text="${campana.descripcion}"></span>
    </body>
</html>
