<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="admin/layout :: head-admin"></head>

<body>

<!-- ======= Header ======= -->
<header th:replace="admin/layout :: navbar-admin"></header><!-- End Header -->
<nav th:replace="admin/layout :: navbar1"></nav>
<!-- End Header -->

<!-- ======= Sidebar ======= -->

<!-- End Sidebar-->

<main id="main" class="main">

  <div class="pagetitle">
    <h1>Administrativo</h1>

  </div><!-- End Page Title -->

  <!-- Mensajes -->
  <div th:if="${exito}!=null" class="card text-white bg-success mb-3 mt-3 mensajeExito">
    <div class="card-body">
      <h5 class="card-title">Exito 👍</h5>
      <p class="card-text" th:text="${exito}"></p>
    </div>
  </div>
  <div th:if="${error}!=null" class="card text-white bg-danger mb-3 mensajeError">
    <div class="card-body">
      <h5 class="card-title">Error 👎</h5>
      <p class="card-text" th:text="${error}"></p>
    </div>
  </div>
  <!--Fin Mensajes -->

<section>

  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Lista de Campañas</h5>

          <table class="table datatable">
            <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Imagen</th>
              <th scope="col">Título</th>
              <th scope="col">Descripción</th>
              <th scope="col">Desafío</th>
              <th scope="col">Fecha</th>
              <th scope="col">Estado</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="campana, rowStat : ${campanas}">
              <th scope="row" th:text="${rowStat.count}"></th>
              <td>
                <a>
                  <img th:if="${campana.imagen != null}" class="logo"
                       th:src="@{/imagen/campana/__${campana.id}__}" style="width: 100px;">
                </a>
              </td>
              <td th:text="${campana.titulo}"></td>
              <td th:text="${campana.descripcion}"></td>
              <td th:text="${campana.desafio}"></td>
              <td th:text="${campana.estado} ? 'Activa' : 'Inactiva'"></td>

            </tr>
            </tbody>
          </table>
          <!--Find -->
        </div>
      </div>
    </div>
  </div>

</section>


</main><!-- End #main -->

<!-- ======= Footer ======= -->
<footer id="footer" class="footer">
  <div class="copyright">
    &copy; Copyright <strong><span>Grupo 3</span></strong>. All Rights Reserved
  </div>
  <div class="credits">
    <!-- All the links in the footer should remain intact. -->
    <!-- You can delete the links only if you purchased the pro version. -->
    <!-- Licensing information: https://bootstrapmade.com/license/ -->
    <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/ -->

  </div>
</footer><!-- End Footer -->

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
<div th:replace="admin/layout :: scripts-admin"></div>
</body>

</html>