<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head th:replace= "/fragments/head :: head"></head>

    <body>
        <!-- header section starts  -->
        <header>
            <section class="flex">
                <h1 class="heading" >Medio Ambiente</h1>
                <nav class="navbar">
                    <h1 class="heading"> <a href="campana/registrar">campañas</a></h1>
                </nav>
                <div class="text-end">
                    <button type="button" class="btn btn-outline-light me-2">Login</button>
                    <button type="button" class="btn btn-warning">Sign-up</button>
                </div>

                <!--
                <div class="icons">
                    <button class="button">Login</button>
                    <button class="button" >Register</button>
                    <a href="#" class="fas fa-heart"></a>
                <a href="#" class="fas fa-user">Login</a>
                </div>-->
            </section>
        </header>

        <div class="home-container">
            <section class="home" id="home"></section>
        </div>

        <section class="about" id="about">
            <div class="row">

                <div class="video-container">
                    <video src="../static/img/production_id_4176461 (2160p).mp4" loop autoplay muted></video>
                </div>

                <div class="content">
                    <h3>La tierra madre te necesita?</h3>
                    <h1>Concurso global de carteles</h1>
                        <p>Salvar el planeta es responsabilidad de todos.</p>
                        <p>Con la intención de aprovechar el poder del arte para inspirar la acción ambiental, artistas de
                            todo el mundo estan invitados a postular sus carteles. .</p>
                        <h2>CONVOCATORIA 16BICM</h2>
                        <a href="#" class="btn">Consulta convocatoria completa</a>
                </div>
            </div>
        </section>

        <!-- footer section starts  -->

        <section class="footer">
            <div class="box-container">
                <div class="box">
                    <h3>Quick links</h3>
                    <a href="#">home</a>
                    <a href="#">about</a>
                    <a href="#">campañas</a>
                    <a href="#">review</a>
                    <!-- <a href="#">contact</a>-->
                </div>
                <div class="box">
                    <h3>Extra links</h3>
                    <a href="#">my account</a>
                    <a href="#">my favorite</a>
                </div>
                <div class="box">
                    <h3>Localidad</h3>
                    <a href="#">México</a>
                    <a href="#">Ecuador</a>
                    <a href="#">Colombia</a>
                    <a href="#">Venezuela</a>
                </div>
                <div class="box">
                    <h3>Contacto información</h3>
                    <a href="#">+123-456-7890</a>
                    <a href="#">villamarlen50@gmail.com</a>
                    <a href="#">San Luis Potosí, méxico - 78000</a>
                    <img src="../static/img/payment.png" alt="">
                </div>
            </div>

            <div class="credit"> creado por <span> equipo 3 egg latam</span> | all rights reserved </div>

        </section>

        <!-- footer section ends -->
        <script src="js/script.js"></script>
        <script th:replace= "/fragments/scripts :: script"></script>
    </body>
</html>